doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li Hello
      li How are you
      li.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Esse doloribus, dignissimos dolorum rerum quidem architecto 
        animi officiis vel quaerat? Et accusamus, voluptatem fugiat 
        ducimus vel fuga quidem voluptatum eligendi. Harum!
    block content
